* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Poppins";
  header {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    .header {
      &__link {
        .header__img {
          width: 20rem;
          position: initial;
        }
      }
      &__btn {
        gap: 1rem;
        a {
          padding: 0;
          background: linear-gradient(60deg, var(--btn-light), var(--btn-dark));
          border: none;
          border-radius: 0;
          color: var(--white);

          &:first-child {
            width: 17rem;
            height: 3.5rem;
            padding: 1rem 3rem;
            color: var(--white);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.2rem;
          }
          &:nth-child(2),
          &:nth-child(3) {
            height: 3.5rem;
            width: 3rem;
            padding: 1rem;
          }
        }
      }
      &__address,
      &__email {
        margin: 0;
        color: var(--color-header);
      }
    }
  }

  .text-img {
    background-color: var(--bg-text-img);
    color: var(--color-dark);
    .text {
      &__h1 {
        font-size: 2rem;
      }
      &__p {
        font-size: 1rem;
      }
    }
    &__flex {
      align-items: center;
      padding: 1rem;
      position: relative;
      min-width: 53%;
      margin-left: 1rem;
    }

    &__img {
      position: relative;
      right: 8.5rem;
      width: 80%;
    }
  }

  .img-text {
    color: var(--color-offer);
    .d-flex {
      padding: 1rem;
      .text {
        &__h1,
        &__p {
          text-align: center;
        }
      }
    }
  }

  .offer {
    background-color: var(--bg-offer);
    text-align: center;
    color: var(--white);
    padding-top: 2rem;
    .subtitle {
      span {
        font-weight: 600;
      }
    }
  }
  .splide {
    img {
      width: 10rem;
      height: 10rem;
    }
    &__arrow {
      &--prev {
        left: -1.6rem;
      }
      &--next {
        right: -1.6rem;
      }
    }
    &__slide {
      p {
        text-transform: uppercase;
      }
    }
    &__track {
      background: var(--bg-offer);
    }
  }
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.fa-sharp {
  margin-right: 1rem;
}
