* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
}

body {
  font-family: "Poppins";
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    .header {
      &__link {
        .header__img {
          width: 20rem;
          position: initial;
        }
      }
      &__btn {
        gap: 1rem;
        a {
          padding: 0;
          background: linear-gradient(60deg, var(--btn-light), var(--btn-dark));
          border: none;
          border-radius: 0;
          color: var(--white);

          &:first-child {
            width: 17rem;
            height: 3.5rem;
            padding: 1rem 3rem;
            color: var(--white);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.2rem;
          }
          &:nth-child(2),
          &:nth-child(3) {
            height: 3.5rem;
            width: 3rem;
            padding: 1rem;
          }
        }
      }
      &__address,
      &__email {
        margin: 0;
        color: var(--color-header);
      }
    }
  }

  .text-img {
    background-color: var(--bg-text-img);
    color: var(--color-dark);
    .text {
      &__h1 {
        font-size: 2rem;
      }
      &__p {
        font-size: 1rem;
      }
    }
    &__flex {
      align-items: center;
      padding: 1rem;
      position: relative;
      min-width: 53%;
      margin-left: 1rem;
    }

    &__img {
      position: relative;
      right: 2rem;
      width: 50%;
    }
  }

  .img-text {
    color: var(--color-offer);
    flex-direction: column;
    .d-flex {
      padding: 1rem;
      .text {
        &__h1,
        &__p {
          text-align: center;
        }
        &__p {
          color: var(--color-dark);
        }
      }
    }
  }

  .offer {
    background-color: var(--bg-offer);
    text-align: center;
    color: var(--white);
    padding-top: 2rem;
    .subtitle {
      span {
        font-weight: 600;
      }
    }
  }
  .box__slide {
    padding: 0;
  }
  .splide {
    img {
      width: 30vw;
      height: auto;
      box-shadow: 0px 8px 20px -10px var(--black);
    }
    &__list {
      text-align: left;
    }

    &__arrow {
      svg {
        fill: var(--black);
      }
    }
    &__slide {
      p {
        margin: 1rem 0 0 0.3rem;
        text-transform: uppercase;
      }
    }
    &__track {
      background: var(--bg-offer);
    }
  }
}

.fa-sharp {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  body {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
    .text-img {
      &__flex {
        min-width: 50%;
        padding: 5rem 1rem 1rem 4rem;
      }
      .text {
        &__h1 {
          font-size: 3rem;
        }
        &__p {
          font-size: 2rem;
        }
      }
      img {
        right: 4rem;
      }
    }
    .img-text {
      .flex-column {
        margin-top: 2rem;
      }
      .text {
        &__h1 {
          font-size: 3rem;
        }
        &__p {
          font-size: 2rem;
          padding: 2rem;
        }
      }
    }
    .offer {
      .box,
      .subtitle,
      span,
      p {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    header {
      justify-content: space-evenly;
      p {
        font-size: 1.4rem;
      }
      .header {
        &__link {
          .header {
            &__img {
              width: 30rem;
            }
          }
        }
      }
    }
    .text-img {
      padding-top: 4rem;
      &__flex {
        padding: 8rem 1rem 1rem 15rem;
        .text {
          &__h1 {
            font-size: 4rem;
          }
          &__p {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    header {
      .header {
        &__link {
          .header {
            &__img {
              width: 35rem;
            }
          }
        }
      }
    }
    .text-img {
      &__flex {
        .text {
          &__h1 {
            font-size: 4rem;
          }
          &__p {
            font-size: 2.5rem;
          }
        }
      }
    }
    .img-text {
      flex-direction: row;
      padding: 5rem;
      gap: 8rem;
      align-items: center;
      img {
        height: 100%;
        width: 50%;
      }
      .d-flex {
        .text {
          &__h1 {
            max-width: 55%;
          }
          &__h1,
          &__p {
            text-align: left;
            padding: 2rem;
          }
          &__p {
            font-size: 1.6rem;
          }
        }
      }
    }
    .offer {
      display: flex;
      flex-direction: column;
      padding: 5rem;
      gap: 2rem;
      .title {
        font-size: 4.8rem;
        text-align: left;
      }
      .d-flex {
        .container {
          width: 30%;
          text-align: left;
          margin-top: 2rem;
          .subtitle {
            font-size: 2.4rem;
            max-width: 27rem;
          }
          p {
            font-size: 1.4rem;
            max-width: 28rem;
            line-height: 2.4rem;
          }
        }
        .box {
          width: 70%;
        }
      }
      .splide {
        img {
          width: auto;
        }
        &__arrow {
          &--prev {
            left: -3rem;
            top: 13rem;
          }
          &--next {
            right: -3rem;
            top: 13rem;
          }
        }
      }
    }
  }
}
