* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
}

body {
  font-family: "Poppins";
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    .header {
      &__link {
        .header__img {
          width: 20rem;
          position: initial;
        }
      }
      &__btn {
        gap: 1rem;
        a {
          padding: 0;
          background: linear-gradient(-50deg, #8d7533 0%, #cfbb7b 100%);
          border: none;
          border-radius: 0;
          color: var(--white);

          &:first-child {
            width: 17rem;
            height: 3.5rem;
            padding: 1rem 3rem;
            color: var(--white);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.2rem;
          }
          &:nth-child(2),
          &:nth-child(3) {
            height: 3.5rem;
            width: 3rem;
            padding: 1rem;
          }
        }
      }
      &__address,
      &__email {
        margin: 0;
        color: var(--color-header);
      }
    }
  }

  .text-img {
    background-color: var(--bg-text-img);
    color: var(--color-dark);
    .text {
      &__h1 {
        font-size: 2rem;
      }
      &__p {
        font-size: 1rem;
      }
    }
    &__flex {
      align-items: center;
      padding: 1rem;
      position: relative;
      min-width: 53%;
      margin-left: 1rem;
    }

    &__img {
      position: relative;
      right: 2rem;
      width: 50%;
    }
  }

  .form {
    width: auto;
    min-height: 32.9rem;
    box-shadow: 0px 11px 17.5px rgba(161, 161, 161, 0.6);
    background: var(--white);
    align-items: center;
    padding: 2rem 0;
    .title {
      letter-spacing: 0.3rem;
      color: var(--color-offer);
    }
    p {
      font-size: 1.4rem;
    }
    .inputs {
      flex-direction: column;
      gap: 1rem;
      input {
        border: none;
        padding: 1rem 8rem 1rem 1.5rem;
        font-size: 1.5rem;
        background: var(--input-bg);
      }
    }
    .agreement {
      gap: 1rem;
      align-items: baseline;
      padding: 1rem;
      width: 82%;
      input {
        position: relative;
        top: 0.8rem;
        height: 2rem;
        scale: 2;
      }
      h3 {
        margin: 0;
        font-size: 1.25rem;
        color: var(--agreement-color);
      }
    }
    a {
      border: none;
      border-radius: 0;
      background-image: linear-gradient(-50deg, #8d7533 0%, #cfbb7b 100%);
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      color: var(--white);
      padding: 1rem;
      text-transform: uppercase;
      width: 18rem;
      height: 4rem;
    }
  }

  .img-text {
    color: var(--color-offer);
    flex-direction: column;
    .d-flex {
      padding: 1rem;
      .text {
        &__h1,
        &__p {
          text-align: center;
        }
        &__p {
          color: var(--color-dark);
        }
      }
    }
  }

  .offer {
    background-color: var(--bg-offer);
    text-align: center;
    color: var(--white);
    padding-top: 2rem;
    .d-flex {
      flex-direction: column;
    }
    .subtitle {
      span {
        font-weight: 600;
      }
    }
  }
  .box__slide {
    padding: 0;
  }
  .splide {
    &__list {
      text-align: left;
      img {
        width: 30vw;
        height: auto;
        box-shadow: 0px 8px 20px -10px var(--black);
      }
      p {
        color: var(--white);
      }
    }
    &__arrow {
      svg {
        fill: var(--black);
      }
    }
    &__slide {
      p {
        margin: 1rem 0 0 0.3rem;
        text-transform: uppercase;
      }
    }
    &__track {
      background: var(--bg-offer);
    }
  }
  .text-line {
    align-items: center;
    padding: 1.5rem 2rem;
    p {
      text-align: center;
      font-size: 1.5rem;
      color: var(--color-dark);
    }
  }
}

.fa-sharp {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  body {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
    .text-img {
      &__flex {
        min-width: 50%;
        padding: 7rem 1rem 1rem 7rem;
      }
      .text {
        &__h1 {
          font-size: 3rem;
        }
        &__p {
          font-size: 2rem;
        }
      }
      img {
        right: 4rem;
      }
    }
    .img-text {
      .flex-column {
        margin-top: 2rem;
      }
      .text {
        &__h1 {
          font-size: 3rem;
        }
        &__p {
          font-size: 2rem;
          padding: 2rem;
        }
      }
    }
    .offer {
      .box,
      .subtitle,
      span,
      p {
        font-size: 2rem;
      }
    }
    .text-line {
      justify-content: center;
      p {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    header {
      justify-content: space-evenly;
      p {
        font-size: 1.4rem;
      }
      .header {
        &__link {
          .header {
            &__img {
              width: 30rem;
            }
          }
        }
      }
    }
    .text-img {
      padding-top: 4rem;
      &__flex {
        padding: 8rem 1rem 1rem 15rem;
        .text {
          &__h1 {
            font-size: 4rem;
          }
          &__p {
            font-size: 2.5rem;
          }
        }
      }
    }
    .form {
      gap: 1rem;
      justify-content: center;
      max-height: 32.9rem;
      .inputs {
        flex-direction: row;
      }
    }
    .text-line {
      p {
        font-size: 3rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    header {
      .header {
        &__link {
          .header {
            &__img {
              width: 35rem;
            }
          }
        }
      }
    }
    .text-img {
      &__flex {
        .text {
          &__h1 {
            font-size: 4rem;
          }
          &__p {
            font-size: 2.5rem;
          }
        }
      }
    }

    .form {
      position: relative;
      margin: -20% auto 0;
      width: 77rem;
      .title {
        font-size: 3rem;
      }
      p {
        font-size: 1.8rem;
      }
      .inputs {
        gap: 3rem;
        input {
          font-size: 1.6rem;
          padding: 1rem 1.5rem;
        }
      }
      .agreement {
        padding: 1rem 6rem;
      }
      .btn {
        padding: 1.5rem;
        width: 19rem;
        height: 5rem;
      }
    }

    .img-text {
      flex-direction: row;
      padding: 5rem 5rem 5rem;
      gap: 8rem;
      align-items: center;
      img {
        height: 100%;
        width: 50%;
      }
      .d-flex {
        width: 50%;
        .text {
          &__h1 {
            max-width: 55%;
          }
          &__h1,
          &__p {
            text-align: left;
            padding: 2rem;
          }
          &__p {
            font-size: 1.6rem;
          }
        }
      }
    }
    .offer {
      display: flex;
      flex-direction: column;
      padding: 5rem;
      gap: 2rem;
      .title {
        font-size: 4.8rem;
        text-align: left;
      }
      .d-flex {
        flex-direction: row;
        justify-content: center;
        .box-column {
          width: 30%;
          text-align: left;
          margin-top: 2rem;
          .subtitle {
            font-size: 2.4rem;
            max-width: 27rem;
          }
          p {
            font-size: 1.4rem;
            max-width: 28rem;
            line-height: 2.4rem;
          }
        }
        .box {
          width: 70%;
        }
      }
      .splide {
        img {
          width: auto;
        }
        &__arrow {
          &--prev {
            left: -3rem;
            top: 13rem;
          }
          &--next {
            right: -3rem;
            top: 13rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    .text-img {
      padding: 4rem 11rem 0;
      &__flex {
        padding: 4rem 1rem 1rem 10rem;
      }
    }
    .form {
      margin-top: -16.5%;
    }
    .offer {
      .d-flex {
        width: 96%;
        .box {
          &__slide {
            width: 59%;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  body {
    .form {
      scale: 1.5;
      margin-top: -14%;
    }
    .img-text {
      padding-top: 15rem;
    }
    .offer {
      .d-flex {
        width: 96%;
        .box {
          &__slide {
            width: 59%;
          }
          .splide {
            &__list {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
