* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Poppins";
  header {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    .header {
      &__link {
        .header__img {
          width: 20rem;
          position: initial;
        }
      }
      &__bottom {
        gap: 2rem;
        align-items: center;
        .d-flex {
          gap: 1rem;
        }
      }
      &__address,
      &__email {
        margin: 0;
      }
    }
  }

  .text-img {
    background-color: var(--bg-text-img);
    .text {
      &__h1 {
        font-size: 2rem;
      }
      &__p {
        font-size: 1rem;
      }
    }
    &__flex {
      align-items: center;
      padding: 1rem;
      position: relative;
      min-width: 53%;
    }

    &__img {
      position: relative;
      right: 6.5rem;
      width: 65%;
    }
  }

  .img-text {
    .d-flex {
      padding: 1rem;
      .text {
        &__h1,
        &__p {
          text-align: center;
        }
      }
    }
  }

  .offer {
    background-color: var(--bg-offer);
    text-align: center;
    color: var(--white);
    .subtitle {
      span {
        font-weight: 600;
      }
    }
  }
  .splide {
    img {
      width: 10rem;
      height: 10rem;
    }
    &__arrow {
      &--prev {
        left: -1.6rem;
      }
      &--next {
        right: -1.6rem;
      }
    }
    &__slide {
      p {
        text-transform: uppercase;
      }
    }
    &__track {
      background: var(--bg-offer);
    }
  }
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.fa-sharp {
  margin-right: 1rem;
}
